@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Thin.eot");
  src: url("../fonts/PFDinTextCompPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Thin.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Thin.woff") format("woff"), url("../fonts/PFDinTextCompPro-Thin.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Thin.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Thin.svg#PFDinTextCompPro-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-LightItalic.eot");
  src: url("../fonts/PFDinTextCompPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-LightItalic.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-LightItalic.woff") format("woff"), url("../fonts/PFDinTextCompPro-LightItalic.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-LightItalic.otf") format("opentype"), url("../fonts/PFDinTextCompPro-LightItalic.svg#PFDinTextCompPro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Light.eot");
  src: url("../fonts/PFDinTextCompPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Light.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Light.woff") format("woff"), url("../fonts/PFDinTextCompPro-Light.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Light.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Regular.eot");
  src: url("../fonts/PFDinTextCompPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Regular.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Regular.woff") format("woff"), url("../fonts/PFDinTextCompPro-Regular.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Regular.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Italic.eot");
  src: url("../fonts/PFDinTextCompPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Italic.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Italic.woff") format("woff"), url("../fonts/PFDinTextCompPro-Italic.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Italic.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-MediumItalic.eot");
  src: url("../fonts/PFDinTextCompPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-MediumItalic.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-MediumItalic.woff") format("woff"), url("../fonts/PFDinTextCompPro-MediumItalic.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-MediumItalic.otf") format("opentype"), url("../fonts/PFDinTextCompPro-MediumItalic.svg#PFDinTextCompPro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Medium.eot");
  src: url("../fonts/PFDinTextCompPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Medium.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Medium.woff") format("woff"), url("../fonts/PFDinTextCompPro-Medium.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Medium.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-BoldItalic.eot");
  src: url("../fonts/PFDinTextCompPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-BoldItalic.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-BoldItalic.woff") format("woff"), url("../fonts/PFDinTextCompPro-BoldItalic.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-BoldItalic.otf") format("opentype"), url("../fonts/PFDinTextCompPro-BoldItalic.svg#PFDinTextCompPro-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url("../fonts/PFDinTextCompPro-Bold.eot");
  src: url("../fonts/PFDinTextCompPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Bold.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Bold.woff") format("woff"), url("../fonts/PFDinTextCompPro-Bold.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Bold.otf") format("opentype"), url("../fonts/PFDinTextCompPro-Bold.svg#PFDinTextCompPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB05; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  position: relative;
  font-family: "PF Din Text Comp Pro", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  background: #151313 url("../img/content_bg.jpg") 50% 1150px no-repeat; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #ffd800;
  text-decoration: underline; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn {
  margin: 0;
  color: #f4d732;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 12px 30px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  background: transparent;
  touch-action: manipulation;
  border: 1px solid #f4d732;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase; }
  .btn:hover {
    color: #000;
    background: #f4d732;
    text-decoration: none; }
  .btn:active {
    top: 1px; }
  .btn i {
    margin-left: 15px; }

.btn-md {
  font-size: 18px; }

.btn-yellow {
  color: #000;
  background: #f4d732; }
  .btn-yellow:hover {
    color: #f4d732;
    text-decoration: none;
    background: transparent; }

.form-control {
  margin: 0;
  width: 100%;
  color: #000;
  outline: none;
  background: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding: 4px 15px;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  text-transform: uppercase; }
  .form-control::-moz-placeholder {
    color: #000;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #000; }
  .form-control::-webkit-input-placeholder {
    color: #000; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

.form-select {
  margin: 0;
  width: 100%;
  color: #000;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  padding: 4px 15px;
  display: inline-block;
  border: 1px solid #fff;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background: #fff url("../img/icon-select.png") 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none !important; }
  .form-select::-moz-placeholder {
    color: #000;
    opacity: 1; }
  .form-select:-ms-input-placeholder {
    color: #000; }
  .form-select::-webkit-input-placeholder {
    color: #000; }
  .form-select select::-ms-expand {
    display: none; }
  .form-select::-ms-clear {
    display: none;
    width: 0;
    height: 0; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 10px; }

.form-row {
  margin: 0 -6px; }
  .form-row .form-col {
    width: 50%;
    float: left;
    padding: 0 6px; }

.text-center .form-control {
  text-align: center; }

.form-checkbox {
  margin-bottom: 15px; }
  .form-checkbox .icr-text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 55px;
    display: inline-block;
    text-transform: uppercase; }
    .form-checkbox .icr-text a {
      color: #ffd800;
      text-decoration: underline; }
      .form-checkbox .icr-text a:hover {
        text-decoration: none; }
    .form-checkbox .icr-text strong {
      color: #ffd800;
      font-weight: 500; }
    .form-checkbox .icr-text:before {
      top: 0;
      left: 0;
      content: '';
      width: 33px;
      height: 33px;
      z-index: 10;
      display: block;
      position: absolute;
      background: transparent url("../img/icon-checkbox.png") 0 0 no-repeat; }
    .form-checkbox .icr-text:after {
      top: 0;
      left: 0;
      content: '';
      width: 33px;
      height: 33px;
      z-index: 20;
      display: none;
      position: absolute;
      background: transparent url("../img/icon-checkbox.png") 0 -33px no-repeat; }
  .form-checkbox .checked .icr-text:after {
    display: block; }
  .form-checkbox label {
    position: relative;
    display: inline-block; }
  .form-checkbox .icr-hidden {
    display: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer .footer-bg {
  margin: 0 auto;
  min-width: 1160px;
  max-width: 1854px; }
.footer .copyright {
  right: -350px;
  width: 300px;
  height: 44px;
  position: absolute; }

.header {
  height: 1150px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: url("../img/header_bg.jpg") 50% 0 no-repeat; }
  .header .container {
    height: 1150px;
    padding-top: 30px; }
    .header .container:before {
      left: -210px;
      content: '';
      bottom: 106px;
      width: 800px;
      height: 846px;
      position: absolute;
      background: url("../img/pack2.png") 50% 100% no-repeat;
      background-size: cover; }
  .header .header-logo {
    top: 0;
    left: 15px;
    width: 232px;
    height: 270px;
    position: absolute; }
  .header .header-film {
    width: 435px;
    padding-top: 24px;
    margin: 0 auto 5px auto; }
  .header .header-place {
    font-size: 33px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase; }
  .header h1 {
    font-size: 57px;
    font-weight: 700;
    line-height: 73px;
    text-align: center;
    margin-bottom: 47px;
    text-transform: uppercase; }
    .header h1 span {
      color: #fff;
      padding: 0 15px;
      margin-bottom: 5px;
      background: #952415;
      display: inline-block; }
  .header .advantage {
    padding: 0;
    list-style: none;
    margin: 0 0 145px 290px; }
    .header .advantage li {
      font-size: 37px;
      font-weight: 500;
      line-height: 37px;
      padding-left: 75px;
      margin-bottom: 12px;
      text-transform: uppercase; }
      .header .advantage li:nth-child(1) {
        line-height: 33px;
        background: url("../img/header_icon1.png") 0 5px no-repeat; }
      .header .advantage li:nth-child(2) {
        padding-top: 10px;
        padding-bottom: 15px;
        background: url("../img/header_icon2.png") 0 10px no-repeat; }
      .header .advantage li:nth-child(3) {
        padding-top: 5px;
        background: url("../img/header_icon3.png") 5px 0 no-repeat; }
      .header .advantage li > span {
        z-index: 10;
        position: relative;
        margin-left: -10px;
        padding: 5px 10px 0 10px;
        background: #952415;
        display: inline-block; }
        .header .advantage li > span.last {
          z-index: 5;
          color: #efe131;
          padding-top: 0;
          position: relative;
          padding-bottom: 5px; }
        .header .advantage li > span > span {
          font-size: 27px;
          line-height: 27px;
          display: inline-block; }
  .header .slogan {
    padding: 0;
    list-style: none;
    margin: 0 0 0 330px; }
    .header .slogan li {
      font-style: italic;
      text-transform: uppercase; }
      .header .slogan li:first-child {
        font-size: 47px;
        font-weight: 700;
        line-height: 77px; }
      .header .slogan li:last-child {
        color: #ffd800;
        font-size: 67px;
        font-weight: 700;
        line-height: 84px;
        margin-left: 110px; }
        .header .slogan li:last-child span {
          display: inline-block;
          background: url("../img/quest-line.png") 0 100% no-repeat; }
  .header .age18 {
    top: 540px;
    right: -110px;
    width: 189px;
    position: absolute; }
  @media (max-width: 1400px) {
    .header .container:before {
      left: -100px;
      width: 650px;
      height: 687px; }
    .header .age18 {
      right: -80px; } }

.main .content {
  position: relative; }

.jar {
  top: 60px;
  right: 58px;
  width: 230px;
  position: absolute;
  padding-bottom: 17px;
  border: 1px solid #f7d101;
  background: url("../img/jar_border.png") 0 100% repeat-x; }

.step {
  margin: 0;
  padding: 0;
  height: 1600px;
  position: relative; }
  .step > li {
    color: #fff;
    font-weight: 500;
    padding-left: 42px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase; }
    .step > li:nth-child(1) {
      margin-top: -70px;
      margin-left: 368px;
      margin-bottom: 222px; }
      .step > li:nth-child(1):before {
        top: 90px;
        left: 75px;
        content: '';
        height: 160px;
        width: 1px;
        position: absolute;
        border-right: 1px solid #ffd800;
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(2) {
      margin-left: 180px;
      margin-bottom: 57px; }
      .step > li:nth-child(2):before {
        top: 158px;
        left: 150px;
        content: '';
        width: 120px;
        height: 1px;
        position: absolute;
        border-top: 1px solid #ffd800;
        transform: rotate(32deg);
        -webkit-transform: rotate(32deg);
        -o-transform: rotate(32deg);
        -moz-transform: rotate(32deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(3) {
      margin-left: 446px;
      margin-bottom: 120px; }
      .step > li:nth-child(3):before {
        top: 75px;
        left: 160px;
        content: '';
        width: 1px;
        height: 85px;
        position: absolute;
        border-left: 1px solid #ffd800;
        opacity: 0.4;
        filter: alpha(opacity=40); }
      .step > li:nth-child(3):after {
        bottom: 70px;
        left: 265px;
        content: '';
        height: 140px;
        width: 1px;
        position: absolute;
        border-right: 1px solid #ffd800;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(4) {
      margin-left: 577px;
      margin-bottom: 102px; }
      .step > li:nth-child(4):before {
        top: 75px;
        left: 3px;
        content: '';
        height: 64px;
        width: 1px;
        position: absolute;
        border-right: 1px solid #ffd800;
        transform: rotate(16deg);
        -webkit-transform: rotate(16deg);
        -o-transform: rotate(16deg);
        -moz-transform: rotate(16deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(5) {
      margin-bottom: 70px; }
      .step > li:nth-child(5):before {
        top: 178px;
        left: 50%;
        width: 1px;
        height: 57px;
        content: ' ';
        margin-left: 30px;
        position: absolute;
        border-right: 1px solid #ffd800;
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(6) {
      color: #fff;
      width: 386px;
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;
      margin: 0 0 105px 350px;
      text-transform: uppercase; }
      .step > li:nth-child(6):before {
        top: 25px;
        left: 20px;
        content: '';
        height: 120px;
        width: 1px;
        position: absolute;
        border-right: 1px solid #ffd800;
        transform: rotate(52deg);
        -webkit-transform: rotate(52deg);
        -o-transform: rotate(52deg);
        -moz-transform: rotate(52deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(7) {
      margin-left: 110px;
      margin-bottom: 55px; }
      .step > li:nth-child(7):before {
        top: 85px;
        left: 360px;
        content: '';
        width: 210px;
        height: 1px;
        position: absolute;
        border-top: 1px solid #ffd800;
        transform: rotate(23deg);
        -webkit-transform: rotate(23deg);
        -o-transform: rotate(23deg);
        -moz-transform: rotate(23deg);
        opacity: 0.4;
        filter: alpha(opacity=40); }
    .step > li:nth-child(8) {
      margin-left: 675px;
      margin-bottom: 57px; }
    .step > li span {
      display: block; }
    .step > li .step-num {
      top: 0;
      left: 0;
      color: #ffd800;
      font-size: 61px;
      line-height: 55px;
      position: absolute; }
    .step > li .step-title {
      font-size: 31px;
      line-height: 33px;
      margin-left: -15px;
      margin-bottom: 3px; }
    .step > li .step-text {
      font-size: 17px;
      line-height: 21px;
      opacity: 0.4;
      filter: alpha(opacity=40); }
      .step > li .step-text a {
        color: #ffd800;
        text-decoration: underline; }
        .step > li .step-text a:hover {
          text-decoration: none; }
    .step > li .btn {
      margin-top: 10px; }

.center-block .social {
  float: left;
  width: 280px;
  margin-top: -8px;
  margin-left: 62px;
  position: relative; }
  .center-block .social .social-text,
  .center-block .social .social-title {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    text-transform: uppercase;
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .center-block .social .social-title {
    left: 0;
    top: -80px;
    width: 230px;
    text-align: right; }
  .center-block .social .social-text {
    left: 0;
    bottom: -25px; }
  .center-block .social ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .center-block .social li {
    float: left;
    width: 140px;
    margin-bottom: 12px; }
    .center-block .social li.vkontakte {
      background: url("../img/icon-vkontakte.png") 0 50% no-repeat; }
    .center-block .social li.whatsapp {
      background: url("../img/icon-vhatap.png") 0 50% no-repeat; }
    .center-block .social li.facebook {
      background: url("../img/icon-facebook.png") 0 50% no-repeat; }
    .center-block .social li.viber {
      background: url("../img/icon-viber.png") 0 50% no-repeat; }
    .center-block .social li.telegram {
      background: url("../img/icon-telegram.png") 0 50% no-repeat; }
    .center-block .social li.skype {
      background: url("../img/icon-skype.png") 0 50% no-repeat; }
    .center-block .social li a {
      color: #ffd800;
      font-size: 17px;
      font-weight: 500;
      line-height: 32px;
      padding-left: 40px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase; }
      .center-block .social li a:hover {
        text-decoration: underline; }
.center-block .center-box {
  float: left;
  width: 386px;
  height: 168px;
  margin-left: -10px;
  position: relative;
  text-align: center;
  margin-right: 55px;
  background: url("../img/center-border.png") 0 0 no-repeat; }
  .center-block .center-box .center-box-title {
    color: #ffd800;
    font-size: 57px;
    font-weight: 500;
    line-height: 60px;
    margin-top: -22px;
    margin-bottom: 3px;
    text-transform: uppercase; }
  .center-block .center-box ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .center-block .center-box li {
    font-weight: 500;
    text-transform: uppercase; }
    .center-block .center-box li:first-child {
      font-size: 23px;
      line-height: 30px;
      margin-bottom: 8px; }
    .center-block .center-box li:last-child {
      font-size: 27px;
      line-height: 35px;
      font-style: italic; }
    .center-block .center-box li strong {
      color: #ffd800;
      font-weight: 500; }
    .center-block .center-box li .quote {
      display: inline-block; }
    .center-block .center-box li b {
      font-weight: 500;
      font-size: 31px;
      opacity: 0.4;
      filter: alpha(opacity=40); }

.play-link {
  color: #fff;
  float: left;
  height: 124px;
  font-size: 0;
  line-height: 0;
  display: block;
  text-decoration: none;
  padding: 30px 0 0 150px;
  background: url("../img/icon-play.png") 0 50% no-repeat; }
  .play-link span {
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    padding-left: 8px;
    display: inline-block;
    text-transform: uppercase;
    border-left: 1px solid #fff;
    opacity: 0.4;
    filter: alpha(opacity=40); }

.form-reg {
  margin-bottom: 150px; }
  .form-reg .form-title {
    color: #ffd800;
    text-align: center;
    font-style: italic;
    margin-bottom: 90px;
    text-transform: uppercase; }
    .form-reg .form-title span {
      font-size: 57px;
      font-weight: 700;
      line-height: 57px;
      padding-bottom: 8px;
      display: inline-block;
      background: url("../img/line.png") 0 100% repeat-x; }
  .form-reg .form-body {
    width: 500px;
    margin: 0 auto 50px auto; }
  .form-reg .form-second {
    width: 480px;
    margin: 0 auto 70px auto; }
  .form-reg .button-block {
    padding: 0;
    width: 580px;
    margin: 0 auto;
    list-style: none; }
    .form-reg .button-block li {
      width: 50%;
      float: left;
      padding: 0 10px; }
      .form-reg .button-block li .btn {
        width: 100%; }

.user-photo {
  padding-top: 160px;
  text-align: center;
  margin-bottom: 60px;
  background: url("../img/icon-users.png") 50% 0 no-repeat; }
  .user-photo a {
    color: #fff;
    font-size: 31px;
    font-weight: 500;
    line-height: 35px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #ffd800; }

.social-reg {
  margin-bottom: 70px; }
  .social-reg .social-reg-title {
    font-size: 31px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .social-reg ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center; }
    .social-reg ul li {
      margin: 0 25px;
      display: inline-block; }
      .social-reg ul li a {
        color: #ac001d;
        font-size: 21px;
        font-weight: 500;
        line-height: 40px;
        padding-left: 50px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase; }
        .social-reg ul li a:hover {
          text-decoration: underline; }
      .social-reg ul li.fb {
        background: url("../img/icon-vk-red.png") 0 50% no-repeat; }
      .social-reg ul li.vk {
        background: url("../img/icon-fb-red.png") 0 50% no-repeat; }

.action-time {
  font-size: 31px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-bottom: 70px;
  text-transform: uppercase; }
  .action-time span {
    display: block; }

.modal-video .fancybox-inner {
  width: 824px;
  padding-top: 9px;
  background: #000;
  border: 2px solid #ffd800;
  border-top: none;
  background: url("../img/modal-border.png") 0 0 repeat-x; }

h4 {
  color: #ffd800;
  font-size: 23px;
  font-weight: 500;
  line-height: 31px;
  margin-bottom: 10px;
  text-transform: uppercase; }

p {
  font-size: 23px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 30px;
  text-transform: uppercase; }

.heading {
  font-style: italic;
  margin-bottom: 60px; }

.stage {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none; }
  .stage li {
    margin-bottom: 25px; }
    .stage li h4 {
      margin-bottom: 0; }
    .stage li p {
      font-size: 19px;
      line-height: 25px;
      font-style: italic; }

/*# sourceMappingURL=main.css.map */
