.main {

	.content {
		position: relative;
	}
}

.jar {
	top: 60px;
	right: 58px;
	width: 230px;
	position: absolute;
	padding-bottom: 17px;
	border: 1px solid #f7d101;
	background: url("../img/jar_border.png") 0 100% repeat-x;
}


.step {
	margin: 0;
	padding: 0;
	height: 1600px;
	position: relative;

	> li {
		color: #fff;
		font-weight: 500;
		padding-left: 42px;
		margin-bottom: 20px;
		position: relative;
		text-transform: uppercase;

		&:nth-child(1) {
			margin-top: -70px;
			margin-left: 368px;
			margin-bottom: 222px;

			&:before {
				top: 90px;
				left: 75px;
				content: '';
				height: 160px;
				width: 1px;
				position: absolute;
				border-right: 1px solid #ffd800;

				transform: rotate(30deg);
				-webkit-transform: rotate(30deg);
				-o-transform: rotate(30deg);
				-moz-transform: rotate(30deg);

				@include opacity(0.4);
			}
		}

		&:nth-child(2) {
			margin-left: 180px;
			margin-bottom: 57px;

			&:before {
				top: 158px;
				left: 150px;
				content: '';
				width: 120px;
				height: 1px;
				position: absolute;
				border-top: 1px solid #ffd800;

				transform: rotate(32deg);
				-webkit-transform: rotate(32deg);
				-o-transform: rotate(32deg);
				-moz-transform: rotate(32deg);
				@include opacity(0.4);
			}
		}

		&:nth-child(3) {
			margin-left: 446px;
			margin-bottom: 120px;

			&:before {
				top: 75px;
				left: 160px;
				content: '';
				width: 1px;
				height: 85px;
				position: absolute;
				border-left: 1px solid #ffd800;
				@include opacity(0.4);
			}

			&:after {
				bottom: 70px;
				left: 265px;
				content: '';
				height: 140px;
				width: 1px;
				position: absolute;
				border-right: 1px solid #ffd800;

				transform: rotate(35deg);
				-webkit-transform: rotate(35deg);
				-o-transform: rotate(35deg);
				-moz-transform: rotate(35deg);

				@include opacity(0.4);
			}
		}

		&:nth-child(4) {
			margin-left: 577px;
			margin-bottom: 102px;

			&:before {
				top: 75px;
				left: 3px;
				content: '';
				height: 64px;
				width: 1px;
				position: absolute;
				border-right: 1px solid #ffd800;

				transform: rotate(16deg);
				-webkit-transform: rotate(16deg);
				-o-transform: rotate(16deg);
				-moz-transform: rotate(16deg);

				@include opacity(0.4);
			}
		}

		&:nth-child(5) {
			margin-bottom: 70px;

			&:before {
				top: 178px;
				left: 50%;
				width: 1px;
				height: 57px;
				content: ' ';
				margin-left: 30px;
				position: absolute;
				border-right: 1px solid #ffd800;
				@include opacity(0.4);
			}
		}

		&:nth-child(6) {
			color: #fff;
			width: 386px;
			font-size: 21px;
			font-weight: 500;
			line-height: 30px;
			text-align: center;
			margin: 0 0 105px 350px;
			text-transform: uppercase;

			&:before {
				top: 25px;
				left: 20px;
				content: '';
				height: 120px;
				width: 1px;
				position: absolute;
				border-right: 1px solid #ffd800;

				transform: rotate(52deg);
				-webkit-transform: rotate(52deg);
				-o-transform: rotate(52deg);
				-moz-transform: rotate(52deg);

				@include opacity(0.4);
			}
		}

		&:nth-child(7) {
			margin-left: 110px;
			margin-bottom: 55px;

			&:before {
				top: 85px;
				left: 360px;
				content: '';
				width: 210px;
				height: 1px;
				position: absolute;
				border-top: 1px solid #ffd800;

				transform: rotate(23deg);
				-webkit-transform: rotate(23deg);
				-o-transform: rotate(23deg);
				-moz-transform: rotate(23deg);
				@include opacity(0.4);
			}
		}

		&:nth-child(8) {
			margin-left: 675px;
			margin-bottom: 57px;

		}



		span {
			display: block;
		}

		.step-num {
			top: 0;
			left: 0;
			color: #ffd800;
			font-size: 61px;
			line-height: 55px;
			position: absolute;
		}

		.step-title {
			font-size: 31px;
			line-height: 33px;
			margin-left: -15px;
			margin-bottom: 3px;
		}

		.step-text {
			font-size: 17px;
			line-height: 21px;
			@include opacity(0.4);

			a {
				color: #ffd800;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.btn {
			margin-top: 10px;
		}
	}
}

.center-block {

	.social {
		float: left;
		width: 280px;
		margin-top: -8px;
		margin-left: 62px;
		position: relative;

		.social-text,
		.social-title {
			color: #fff;
			font-size: 17px;
			font-weight: 400;
			line-height: 21px;
			position: absolute;
			text-transform: uppercase;
			@include opacity(0.4);
		}


		.social-title {
			left: 0;
			top: -80px;
			width: 230px;
			text-align: right;
		}

		.social-text {
			left: 0;
			bottom: -25px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			float: left;
			width: 140px;
			margin-bottom: 12px;

			&.vkontakte {
				background: url("../img/icon-vkontakte.png") 0 50% no-repeat;
			}

			&.whatsapp {
				background: url("../img/icon-vhatap.png") 0 50% no-repeat;
			}

			&.facebook {
				background: url("../img/icon-facebook.png") 0 50% no-repeat;
			}

			&.viber {
				background: url("../img/icon-viber.png") 0 50% no-repeat;
			}

			&.telegram {
				background: url("../img/icon-telegram.png") 0 50% no-repeat;
			}

			&.skype {
				background: url("../img/icon-skype.png") 0 50% no-repeat;
			}

			a {
				color: #ffd800;
				font-size: 17px;
				font-weight: 500;
				line-height: 32px;
				padding-left: 40px;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.center-box {
		float: left;
		width: 386px;
		height: 168px;
		margin-left: -10px;
		position: relative;
		text-align: center;
		margin-right: 55px;
		background: url("../img/center-border.png") 0 0 no-repeat;

		.center-box-title {
			color: #ffd800;
			font-size: 57px;
			font-weight: 500;
			line-height: 60px;
			margin-top: -22px;
			margin-bottom: 3px;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			font-weight: 500;
			text-transform: uppercase;

			&:first-child {
				font-size: 23px;
				line-height: 30px;
				margin-bottom: 8px;
			}

			&:last-child {
				font-size: 27px;
				line-height: 35px;
				font-style: italic;
			}


			strong {
				color: #ffd800;
				font-weight: 500;
			}

			.quote {
				display: inline-block;
			}

			b {
				font-weight: 500;
				font-size: 31px;
				@include opacity(0.4);
			}
		}
	}
}

.play-link {
	color: #fff;
	float: left;
	height: 124px;
	font-size: 0;
	line-height: 0;
	display: block;
	text-decoration: none;
	padding: 30px 0 0 150px;
	background: url("../img/icon-play.png") 0 50% no-repeat;

	span {
		font-size: 17px;
		font-weight: 500;
		line-height: 21px;
		padding-left: 8px;
		display: inline-block;
		text-transform: uppercase;
		border-left: 1px solid #fff;
		@include opacity(0.4);
	}
}

.form-reg {
	margin-bottom: 150px;

	.form-title {
		color: #ffd800;
		text-align: center;
		font-style: italic;
		margin-bottom: 90px;
		text-transform: uppercase;

		span {
			font-size: 57px;
			font-weight: 700;
			line-height: 57px;
			padding-bottom: 8px;
			display: inline-block;
			background: url("../img/line.png") 0 100% repeat-x;
		}
	}

	.form-body {
		width: 500px;
		margin: 0 auto 50px auto;
	}

	.form-second {
		width: 480px;
		margin: 0 auto 70px auto;
	}

	.button-block {
		padding: 0;
		width: 580px;
		margin: 0 auto;
		list-style: none;

		li {
			width: 50%;
			float: left;
			padding: 0 10px;

			.btn {
				width: 100%;
			}
		}
	}
}

.user-photo {
	padding-top: 160px;
	text-align: center;
	margin-bottom: 60px;
	background: url("../img/icon-users.png") 50% 0 no-repeat;

	a {
		color: #fff;
		font-size: 31px;
		font-weight: 500;
		line-height: 35px;
		display: inline-block;
		text-transform: uppercase;
		border-bottom: 2px solid #ffd800;
	}
}

.social-reg {
	margin-bottom: 70px;

	.social-reg-title {
		font-size: 31px;
		font-weight: 500;
		line-height: 37px;
		text-align: center;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		li {
			margin: 0 25px;
			display: inline-block;

			a {
				color: #ac001d;
				font-size: 21px;
				font-weight: 500;
				line-height: 40px;
				padding-left: 50px;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;

				&:hover {
					text-decoration: underline;
				}
			}

			&.fb {
				background: url("../img/icon-vk-red.png") 0 50% no-repeat;
			}

			&.vk {
				background: url("../img/icon-fb-red.png") 0 50% no-repeat;
			}
		}
	}
}

.action-time {
	font-size: 31px;
	font-weight: 500;
	line-height: 35px;
	text-align: center;
	@include opacity(0.7);
	margin-bottom: 70px;
	text-transform: uppercase;

	span {
		display: block;
	}
}

.modal-video {

	.fancybox-inner {
		width: 824px;
		padding-top: 9px;
		background: #000;
		border: 2px solid #ffd800;
		border-top: none;
		background: url("../img/modal-border.png") 0 0 repeat-x;
	}
}



// upd 16.11.16

h4 {
	color: #ffd800;
	font-size: 23px;
	font-weight: 500;
	line-height: 31px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

p {
	font-size: 23px;
	font-weight: 400;
	line-height: 31px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.heading {
	font-style: italic;
	margin-bottom: 60px;
}

.stage {
	margin: 0;
	padding: 0 0 20px 0;
	list-style: none;

	li {
		margin-bottom: 25px;

		h4 {
			margin-bottom: 0;
		}

		p {
			font-size: 19px;
			line-height: 25px;
			font-style: italic;
		}
	}
}