@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Thin.eot');
	src: url('../fonts/PFDinTextCompPro-Thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Thin.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Thin.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Thin.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Thin.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Thin.svg#PFDinTextCompPro-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-LightItalic.eot');
	src: url('../fonts/PFDinTextCompPro-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-LightItalic.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-LightItalic.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-LightItalic.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-LightItalic.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-LightItalic.svg#PFDinTextCompPro-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Light.eot');
	src: url('../fonts/PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Light.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Regular.eot');
	src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Regular.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Italic.eot');
	src: url('../fonts/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Italic.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Italic.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Italic.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Italic.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-MediumItalic.eot');
	src: url('../fonts/PFDinTextCompPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-MediumItalic.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-MediumItalic.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-MediumItalic.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-MediumItalic.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-MediumItalic.svg#PFDinTextCompPro-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Medium.eot');
	src: url('../fonts/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Medium.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-BoldItalic.eot');
	src: url('../fonts/PFDinTextCompPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-BoldItalic.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-BoldItalic.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-BoldItalic.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-BoldItalic.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-BoldItalic.svg#PFDinTextCompPro-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}

@font-face {
	font-family:'PF Din Text Comp Pro';
	src: url('../fonts/PFDinTextCompPro-Bold.eot');
	src: url('../fonts/PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
	url('../fonts/PFDinTextCompPro-Bold.woff') format('woff'),
	url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype'),
	url('../fonts/PFDinTextCompPro-Bold.otf') format('opentype'),
	url('../fonts/PFDinTextCompPro-Bold.svg#PFDinTextCompPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB05;
}