.header {
	height: 1150px;
	max-width: 100%;
	overflow: hidden;

	position: relative;
	background: url("../img/header_bg.jpg") 50% 0 no-repeat;

	.container {
		height: 1150px;
		padding-top: 30px;

		&:before {
			left: -210px;
			content: '';
			bottom: 106px;
			width: 800px;
			height: 846px;
			position: absolute;
			background: url("../img/pack2.png") 50% 100% no-repeat;
			background-size: cover;
		}
	}

	.header-logo {
		top: 0;
		left: 15px;
		width: 232px;
		height: 270px;
		position: absolute;
	}

	.header-film {
		width: 435px;
		padding-top: 24px;
		margin: 0 auto 5px auto;
	}

	.header-place {
		font-size: 33px;
		font-weight: 700;
		line-height: 37px;
		text-align: center;
		margin-bottom: 100px;
		text-transform: uppercase;
	}

	h1 {
		font-size: 57px;
		font-weight: 700;
		line-height: 73px;
		text-align: center;
		margin-bottom: 47px;
		text-transform: uppercase;

		span {
			color: #fff;
			padding: 0 15px;
			margin-bottom: 5px;
			background: #952415;
			display: inline-block;
		}
	}

	.advantage {
		padding: 0;
		list-style: none;
		margin: 0 0 145px 290px;

		li {
			font-size: 37px;
			font-weight: 500;
			line-height: 37px;
			padding-left: 75px;
			margin-bottom: 12px;
			text-transform: uppercase;

			&:nth-child(1) {
				line-height: 33px;
				background: url("../img/header_icon1.png") 0 5px no-repeat;
			}

			&:nth-child(2) {
				padding-top: 10px;
				padding-bottom: 15px;
				background: url("../img/header_icon2.png") 0 10px no-repeat;
			}

			&:nth-child(3) {
				padding-top: 5px;
				background: url("../img/header_icon3.png") 5px 0 no-repeat;
			}

			> span {
				z-index: 10;
				position: relative;
				margin-left: -10px;
				padding: 5px 10px 0 10px;
				background: #952415;
				display: inline-block;

				&.last {
					z-index: 5;
					color: #efe131;
					padding-top: 0;
					position: relative;
					padding-bottom: 5px;
				}

				> span {
					font-size: 27px;
					line-height: 27px;
					display: inline-block;
				}
			}
		}
	}

	.slogan {
		padding: 0;
		list-style: none;
		margin: 0 0 0 330px;

		li {
			font-style: italic;
			text-transform: uppercase;

			&:first-child {
				font-size: 47px;
				font-weight: 700;
				line-height: 77px;
			}

			&:last-child {
				color: #ffd800;
				font-size: 67px;
				font-weight: 700;
				line-height: 84px;
				margin-left: 110px;

				span {
					display: inline-block;
					background: url("../img/quest-line.png") 0 100% no-repeat;
				}
			}
		}
	}

	.age18 {
		top: 540px;
		right: -110px;
		width: 189px;
		position: absolute;
	}

	@media (max-width: 1400px) {

		.container {

			&:before {
				left: -100px;
				width: 650px;
				height: 687px;
			}
		}

		.age18 {
			right: -80px;
		}
	}
}
