
$body-bg                :   #151313 !default;
$text-color             :   #fff !default;
$link-color             :   #fff !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'PF Din Text Comp Pro', Arial, sans-serif !default;
