.btn {
	margin:0;
	color: #f4d732;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 12px 30px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background: transparent;
	touch-action: manipulation;
	border: 1px solid #f4d732;
	@include border-radius(4px);
	@include transition(.2s);
	text-transform: uppercase;

	&:hover {
		color: #000;
		background: #f4d732;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

	i {
		margin-left: 15px;
	}
}

.btn-md {
	font-size: 18px;
}

.btn-yellow {
	color: #000;
	background: #f4d732;

	&:hover {
		color: #f4d732;
		text-decoration: none;
		background: transparent;
	}
}
