.form-control {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	background: #fff;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	padding: 4px 15px;
	display: inline-block;
	border: 1px solid #fff;
	@include placeholder(#000);
	@include border-radius(8px);
	text-transform: uppercase;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}

.form-select {
	margin: 0;
	width: 100%;
	color: #000;
	outline: none;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	padding: 4px 15px;
	display: inline-block;
	border: 1px solid #fff;
	text-transform: uppercase;
	@include placeholder(#000);
	@include border-radius(8px);
	background: #fff url("../img/icon-select.png") 100% 50% no-repeat;


	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	select::-ms-expand {
		display: none;
	}

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}


.form-row {
	margin: 0 -6px;

	.form-col {
		width: 50%;
		float: left;
		padding: 0 6px;
	}
}

.text-center {

	.form-control {
		text-align: center;
	}
}


.form-checkbox {
	margin-bottom: 15px;

	.icr-text {
		color: #fff;
		font-size: 24px;
		font-weight: 500;
		line-height: 33px;
		cursor: pointer;
		position: relative;
		padding: 0 0 0 55px;
		display: inline-block;
		text-transform: uppercase;

		a {
			color: #ffd800;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}


		strong {
			color: #ffd800;
			font-weight: 500;
		}

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 33px;
			height: 33px;
			z-index: 10;
			display: block;
			position: absolute;
			background: transparent url("../img/icon-checkbox.png") 0 0 no-repeat;
		}

		&:after {
			top: 0;
			left: 0;
			content: '';
			width: 33px;
			height: 33px;
			z-index: 20;
			display: none;
			position: absolute;
			background: transparent url("../img/icon-checkbox.png") 0 -33px no-repeat;
		}
	}

	.checked {

		.icr-text {

			&:after {
				display: block;
			}
		}
	}

	label {
		position: relative;
		display: inline-block;
	}

	.icr-hidden {
		display: none;
	}
}